@inherits LayoutComponentBase


<div id="app">
    <NavMenu />


    <div id="content" class="container mt-3">
        @Body
    </div>

    <footer class="footer" v-if="showFooter">
        <div class="content has-text-centered">
            <p>
                <strong>Doener Order</strong> by <a href="https://github.com/isitar">Isitar</a>
            </p>
        </div>
    </footer>
</div>