@inherits ProjectCardBase

<div class="card isitar-project-card">
    <div class="card-image">
        <figure class="image is-4by3 ">
            <img src="@ProjectImageUrl" alt="Project image">
        </figure>
    </div>
    <header class="card-content">
        <p class="card-header-title">
            @Project.Name
        </p>
    </header>

    <footer class="card-footer">
        <btn href="#" class="card-footer-item">Start working</btn>
        <btn href="#" class="card-footer-item">Edit</btn>
        <btn href="#" class="card-footer-item">Delete</btn>
    </footer>
</div>